{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<div id="AgregarPersonalModal" class="modal fade" tabindex="-1" aria-labelledby="AgregarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark" id="AgregarProductoModalLabel">Agregar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form method="POST" action="{% url 'AddProducto' %}">
                {% csrf_token %}
                <div class="modal-body bg-dark text-white">
                    {% for field in form_producto %}
                    <p>{{ field.label }}<br>
                        {{ field|add_class:"form-control text-dark" }}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_producto.non_field_errors %}
                    <p class="alarma">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarPersonalModal" class="modal fade" tabindex="-1" aria-labelledby="EditarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark" id="EditarProductoModalLabel">Editar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form method="POST" action="{% url 'EditProducto' %}">
                {% csrf_token %}
                <input type="hidden" id="id_producto_editar" name="id_producto_editar">
                <div class="modal-body bg-dark text-white">
                    {% for field in form_editar_producto %}
                    <p>{{ field.label }}<br>
                        {{ field|add_class:"form-control" }}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_editar_producto.non_field_errors %}
                    <p class="alarma">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver</button>
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EliminarProductoModal" class="modal fade" tabindex="-1" aria-labelledby="EliminarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark" id="EliminarProductoModalLabel">Eliminar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form method="POST" action="{% url 'DeleteProducto' %}">
                {% csrf_token %}
                <input type="hidden" id="id_producto_eliminar" name="id_producto_eliminar">
                <div class="modal-body bg-dark text-white">
                    <p class="labelmodal">¿Estás seguro?</p>
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver</button>
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Inventario</h3>
        <div class="col-md-3 pb-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AgregarPersonalModal">
                Agregar Producto
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in Productos %}
                    <tr>
                        <td>{{ i.id_producto }}</td>
                        <td>{{ i.producto }}</td>
                        <td>{{ i.precio_unitario }}</td>
                        <td>
                            <button type="button"
                                onclick="editarProducto('{{ i.id_producto }}','{{ i.producto|escapejs }}', '{{ i.precio_unitario }}')"
                                class="btn btn-outline-dark btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#EditarPersonalModal"
                                title="Editar">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button"
                                onclick="eliminarProductoInventario('{{ i.id_producto }}')"
                                class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#EliminarProductoModal"
                                title="Eliminar">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if messages %}
<script id="django-messages-data" type="application/json">
[{% for message in messages %}"{{ message|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}]
</script>
{% endif %}
{% endblock %}
